/* CSS for navbar */
.navbar__favicon {
    height: 75px;
}

.navbar__left {
    display: flex;
    float: right;
}

.navbar-nav {
    width: 100%;
    display: block;
    margin: auto;
}

nav {
    width: 100%;
}

.navbar__cart-icon {
    height: 40px;
}

.navbar__signin {
    width: 150px;
    height: 55px;
}

/* CSS for banner */
.banner {
    display: flex;
    width: 90%;
    background-color: #fef4f4;
    /* display: block; */
    margin-right: auto;
    margin-left: auto;
}

.navbar__list {
    background-color: #fef4f4;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__button-centered {
    top: 85%;
}

.rounded-pill-small {
    position: relative;
    top: 40%;
    left: 50%;
    /* height: 35px; */
}

/* CSS for bestsellers */
.bestSellers {
    margin-left: 10%;
    margin-right: 10%;
}

.bestSellers__rating-price {
    color: red;
}

.featuredThisWeek {
    margin-left: auto;
    margin-right: auto;
}

/* latest published */
.latestPublished-right {
    margin-left: 25%;
}

.button-center {
    text-align: center;
}

/* 2 cards */
.card-img-top-small {
    height: 175px;
}

/* newsletter */
.newsletter, .newsletter img {
    height: 300px;
}

.home-newsletter {
    text-align: center;
    margin-top: 5%;
}

.newsletter__card {
    margin-top: 10%;
    margin-bottom: 10%;
}

.single {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.input-group {
    margin-left: 25%;
    margin-right: 10%;
}
.form-control {
    max-width: 40%;
}

/* footer */

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    color: rgb(1, 1, 100);
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
}

a:link {
    text-decoration: none;
}

.fab {
    height: 50px;
    width: 50px;
}

a {
    color: rgb(1, 1, 100) !important;
}